<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <FileGroup Name="simulation.all.js" Minify="false">
    <!--<File Path="../10libs/jquery/jquery-1.8.2.min.js"/>-->
    <File Path="../00javascript-extend/javascript-extend-all.js"/>
    <File Path="../10libs/box2dweb/Box2dWeb-2.1.a.3.js"/>
    
    <File Path="00simulation.js"/>
    <File Path="10simulation-config.js"/>
    <File Path="20simulation-utility.js"/>
    <Folder Pattern="30enum/*.js" Deep="true"/>
    <Folder Pattern="40models/*.js" Deep="true"/>
    <Folder Pattern="50parts/*.js" Deep="true"/>
  </FileGroup> 
</root> 