<?xml version="1.0" encoding="utf-8" ?>
<root xmlns="urn:ChirpyConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!--http://chirpy.codeplex.com/wikipage?title=XML%20Config-->
  <!--<Settings>
    <Setting
        key=""
        value="" />
  </Settings>-->

  <!--<FileGroup
      Name="string"
      Path="string"
      Minify="true|false|both"
      Debug="true|false"
      Find="string|regex"
      Replace="string">

    <File
        Path="string"
        Minify="true|false|both"
        MinifyType="MinifyType"
        Engine="Less|nothing"
      CustomArgument="string"
      Find="string|regex"
      Replace="string" />

      <Folder
          Pattern="string"
          Minify="true|false"
          Deep="true|false"
          Find="string|regex"
          Replace="string" />

      <Raw
          Type="CSS|JS">
        --><!-- Place your CSS or JS code here. --><!--
      </Raw>

    </FileGroup>-->
</root>