@charset "utf-8";
/* CSS Document */

/* clear fix*/
.clearfix{*zoom:1;}
.clearfix:after{content:"";clear:both;display:table;}

/* float left */
.fl{ float:left;}

/* float right */
.fr{ float:right;}